*
{
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

a {
    text-decoration: none;
}

html, body, .Container
{
    height: 100%;
}
    .Container:before
    {
        content: '';
        height: 100%;
        float: left;
    }
/*    
#maincontainer {
    padding-left: 0;
    padding-right: 0;
}
*/
.HeightTaker
{
    position: relative;
    z-index: 1;
}
    .HeightTaker:after
    {
        content: '';
        clear: both;
        display: block;
    }
    
.Wrapper
{
    position: absolute;
    width: 100%;
    height: 100%;
    overflow: auto;
}

.Inverse, .Inverse > *
{
    -moz-transform: rotateX(180deg);
    -ms-transform: rotateX(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotateX(180deg);
    transform: rotateX(180deg);
}

.Table
{
    display: table;
    height: 100%;
    width: 100%;
    margin bottom: 0;
}

.Column
{
    display: table-cell;
}

.Header
{
    position: relative;
    height: 180px;
    border-bottom: 2px solid grey;
}
    .Header::after {
        content: "";
        display: block;
        position: absolute;
        background-image: url("images/pexels03cropped03.jpg");
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -1;
        background-size: cover;
    }

.Header h1 {
    font-size: 36pt;
    padding-left: 20px;
    padding-top: 10px;
}

.Header a {
    color: white;
}

.Header a:hover {
    text-decoration: none;
}

#subtitle {
    color: white;
    font-size: 16pt;
    padding-left: 50px;
}

#headerimage {
    width: 180px;
    height: 160px;
    float: right;
}

.C1 {
    background-color: #e0e1e2;
    width: 30%;
    font-size: 13pt;
}

.C1 li {
    padding-top: 5px;
}

.C1 p {
    padding-left: 10px;
    padding-right: 10px;
}

.C1 a {
    color: #346eba;
}

.C1 a:hover {
    color: #162f4f;
}

.C1 ul {
    padding-left: 40px;
}

#morelink {
    font-style: italic;
    padding-left: 10px;
}

#othersites {
    padding-top: 30px;
}

.C2 {
    background-color: #e0e1e2;
    width: 70%;
    padding-bottom: 40px;
}

.C2 h2, p {
    padding-top: 10px;
    padding-left: 20px;
    padding-right: 50px;
}

.C2 p {
    font-size: 14pt;
    word-wrap: break-word;
    max-width: 720px;
}

#adjacentblogpostlinks {
    max-width: 740px;
}

#adjacentblogpostlinks ul {
    display: block;
    padding-top: 15px;
}

#adjacentblogpostlinks a {
    font-style: italic;
    color: #346eba;
    font-size: 16pt;
}

#adjacentblogpostlinks a:hover {
    color: #162f4f;
}

#prevbloglink {
    float: left;
}

#nextbloglink {
    float: right;
}

.Footer {
    height: 40px;
    position: relative;
    border-top: 2px solid gray;
}

.Footer::after {
    content: "";
    display: block;
    position: absolute;
    background-image: url("images/b17maartent878.jpg");
    opacity: 0.2;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

#copyrightlink {
    font-style: italic;
    text-align: center;
}

#copyrightlink a {
    color: #346eba;
}

#copyrightlink a:hover {
    color: #162f4f;
}

.resumeimage {
    height: 733px;
    width: 566px;
}