{% load staticfiles %}

<html lang="en">

    <head>
        <title>William Montanaro</title>
        
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial_scale=1">
        
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
    </head>
    
    <body>
    
        <div class="Container" id="maincontainer">
        
            <div class="Header">
                <p>
                    <h1><a href="/">William Montanaro</a></h1>
                </p>
                <p id="subtitle">Python tutorials and other computery things</p>
            </div>
            
            <div class="HeightTaker">
                <div class="Wrapper Container Inverse">
                    <div>
                        <div class="Footer">
                            <p id="copyrightlink"><a href="{% url 'under_construction' %}">&copy; 2018</a> <a href="/">williammontanaro.com</a></p>
                        </div>
                    </div>
                    
                    <div class="HeightTaker">
                        <div class="Wrapper Content">
                            <div class="Table">
                            
                                <div class="Column C1">
                                    <div>
                                        <p id="aboutshort"><a href="{% url 'under_construction' %}">About me:</a> I am a developer with a Ph.D. in mathematics and interest in Python, video games, and politics.</p>
                                    </div>
                                    <ul>
                                        <li><a href="https://www.twitter.com/punk43rckr">Twitter</a></li>
                                        <li><a href="https://github.com/wmontanaro">GitHub</a></li>
                                        <li><a href="https://bitbucket.org/wmontanaro">Bitbucket</a></li>
                                        <li><a href="https://www.linkedin.com/in/wmontanaro">LinkedIn</a></li>
                                        <li><a href="{% url 'under_construction' %}">Would you like to play a game?</a></li>
                                        <li><a href="{% static 'WilliamMontanaroResume.pdf' %}">Resume</a></li>
                                        <li><a href="mailto:wmontanarojr@gmail.com">GitHub</a></li>
                                    </ul>
                                    <p id="othersites">Other sites to read:
                                        <ul>
                                            <li><a href="https://nedbatchelder.com" class="rightcollink">Ned Batchelder</a></li>
                                            <li><a href="https://www.blog.pythonlibrary.org" class="rightcollink">The Mouse Vs. The Python</a></li>
                                        </ul>
                                        <a href="{% url 'under_construction' %}" id="morelink">more...</a>
                                    </p>
                                </div>
                            
                                <div class="Column C2">
                                    {% block content %}
                                    {% endblock content %}
                                </div>
                            
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>