{% extends 'base.html' %}

{% block content %}
    <div class="post-entry">
        <h2>{{ post.title }}</h2>
        <p>{{ post.body|safe }}</p>
    </div>
    
    <div id="adjacentblogpostlinks">
        <ul>
            {% if post.is_previous %}
                <p id="prevbloglink"><a href="{% url 'post_detail' post.get_previous_by_timestamp.pk %}">Previous</a></p>
            {% endif %}
            {% if post.get_next %}
                <p id="nextbloglink"><a href="{% url 'post_detail' post.get_next_by_timestamp.pk %}">Next</a></p>
            {% endif %}
        </ul>
    </div>
    
{% endblock content %}