{% load staticfiles %}

<head>
    <title>William Montanaro</title>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial_scale=1">
    
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
</head>

<div>
    <p><img src="{% static 'images/WilliamMontanaroResume-1.jpg' %}" alt="resume1" class="resumeimage" /></p>
    <p><img src="{% static 'images/WilliamMontanaroResume-2.jpg' %}" alt="resume2" class="resumeimage" /></p>
</div>